body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  background: #E0E5EC;
  font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
}

.navbar {
  padding: 10px;
  font-size: larger;
  text-align: center;
  font-weight: inherit;
  background-color: #E0E5EC;
  border-radius: 5px;
  box-shadow:
    3px 3px 5px #5a5c5e,
    -3px -3px 5px #ffffff;
  background: transparent;
}

button {
  width: auto;
  height: auto;
  padding: 5px;
  color: black;
  border-radius: 5px;
  box-shadow:
    3px 3px 5px #5a5c5e,
    -3px -3px 5px #ffffff;
  font-size: 20px;
  background: transparent;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

button:hover {
  border-radius: 5px;
  box-shadow:
    5px 5px 11px #5a5c5e,
    -5px -5px 11px #ffffff;
  background-color: transparent;
}

.element {
  padding: 5px;
  background: transparent;
  align-items: center;
  border-radius: 5px;
  box-shadow:
    3px 3px 5px #5a5c5e,
    -3px -3px 5px #ffffff;
  display: flex;
  justify-content: center;
  
}

.element:hover{
  box-shadow:
    5px 5px 11px #5a5c5e,
    -5px -5px 11px #ffffff;
}

select {
  background:#E0E5EC ;
  border-radius: 5px;
  padding: 5px;
  box-shadow:
    3px 3px -5px #5a5c5e,
    -3px -3px -5px #ffffff;
}


.fas,
.fab {
  padding-left: 1px;
  padding-right: 5px;

}

a:link,
a:visited {
  background: transparent;
  padding: 5px;
  color: black;
  text-decoration: none;
  display: inline-flexbox;
}

a:hover,
a:active {
  background: transparent;
  box-shadow:
    5px 5px 11px #5a5c5e,
    -5px -5px 11px #ffffff;
}

.flex-nav {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 5px;
}

.flex-container {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding: 10px;
}

.flex-container2 {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-item1 {
  border-radius: 5px;
  margin-left: 2%;
  margin-right: 2%;
  padding: 5px;
}
.flex-item2 {
  border-radius: 5px;
  margin-left: 2%;
  margin-right: 2%;
  padding: 10px;
  margin: 5px;
  box-shadow:
    3px 3px 5px #5a5c5e,
    -3px -3px 5px #ffffff;
}
.container {
  display: grid;
  box-shadow:
    3px 3px 5px #5a5c5e,
    -3px -3px 5px #ffffff;
  border-radius: 5px;
  padding: 3px;
  margin-left: auto;
  margin-right: auto;
  grid-template-rows: repeat(20, 29px);
  grid-template-columns: repeat(40, 29px);
  grid-row-gap: 5px;
  grid-column-gap: 5px;
}

.node {
  background: transparent;
  text-align: center;
  font-size: small;
  box-shadow:
    3px 3px 5px #5a5c5e,
    -3px -3px 5px #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: cell;
}

/* Wall */
.wall {
  background-color: rgb(83, 80, 80);
  color: rgb(83, 80, 80);
  border: 1px solid black;
}

.pathcell {
  background-color: #00FF00;
  color: #000000;
}

.explanation {
  max-width: 55vh;
}

.tab button {
  background-color: #ccc;
}

.tab button.active {
  background-color: #f7977a;
}

.tabcontent {
  display: none;
  border: 1px solid #ccc;
}

@media only screen and (max-width: 600px) {
  /* body {
    margin-top: 1em;
    font-size: small;
  } */


  .container {
    display: grid;
    grid-template-rows: repeat(20, minmax(10px, 1fr));
    grid-template-columns: repeat(40, minmax(10px, 1fr));
    grid-row-gap: 1px;
    grid-column-gap: 1px;
  }

  .node {
    font-size: xx-small;
  }
}