body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  margin: 0px;
  flex-direction: column;
  background: #E0E5EC;
  font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
}

.navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border: none;
  font-size: larger;
  text-align: center;
  font-weight: inherit;
  background: #c6d3e7;
  box-shadow:
    3px 3px 5px #5A5C5E,
    -3px -3px 5px #ffffff;

}

.element {
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background: transparent;
  align-items: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;

}

.element:hover{
  box-shadow:
      inset 2px 2px 3px #5A5C5E,
      inset -2px -2px 3px #ffffff;
}

button {
  padding: 5px;
  width: 100px;
  color: black;
  border: none;
  border-radius: 5px;
  box-shadow:
    3px 3px 5px #5A5C5E,
    -3px -3px 5px #ffffff;
  font-size: larger;
  background: transparent;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

select {
  background: transparent;
  padding: 5px;
  width: 150px;
  border-radius: 5px;
  box-shadow:
    3px 3px 5px #5A5C5E,
    -3px -3px 5px #ffffff;
  cursor: pointer;
  border: none;
  text-align: center;
  -webkit-appearance: none !important;
}
select:hover, button:hover{
  box-shadow:
    2px 2px 3px #5A5C5E,
    -2px -2px 3px #ffffff;
}


.fas,
.fab {
  padding-left: 1px;
  padding-right: 5px;

}

a:link,
a:visited {
  background: transparent;
  padding: 5px;
  color: black;
  text-decoration: none;
  display: inline-flexbox;
  border: none;
}


.flex-container {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 10px;
  border: none;
}

.flex-container2 {
  margin-left: auto;
  margin-right: auto;
  /* width: 4%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  border: none;
}

.flex-item1 {
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin: 5px;
  border: none;
}

.flex-item2 {
  flex: 1 1 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* text-align: center; */
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  margin: 10px;
  border: none;

}

.container {
  display: grid;
  box-shadow:
    3px 3px 4px #5A5C5E,
    -3px -3px 4px #ffffff;
  border-radius: 5px;
  padding: 12px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  grid-template-rows: repeat(20, 29px);
  grid-template-columns: repeat(40, 29px);
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  border: none;
}

.node {
  background: transparent;
  text-align: center;
  font-size: small;
  box-shadow:
    3px 3px 4px #5A5C5E,
    -3px -3px 4px #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: cell;
  border: none;
}

/* Wall */
.wall {
  background-color: #5A5C5E;
  box-shadow:
    inset 5px 5px 7px #464849,
    inset -1px -1px 2px #cccaca;
  color: #5A5C5E;
}

.pathcell {
  background-color: #00FF00;
  color: #000000;
}


@media only screen and (max-width: 600px) {
  /* body {
    margin-top: 1em;
    font-size: small;
  } */


  .container {
    display: grid;
    padding: 5px;
    grid-template-rows: repeat(20, minmax(10px, 1px));
    grid-template-columns: repeat(40, minmax(10px, 1px));
    grid-row-gap: 1px;
    grid-column-gap: 1px;
  }

  .node {
    font-size: 0.75ch;
  }
}