.ArrayBox {
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 500px;
    padding: 10px;
    transform-origin: center center;
    transform: rotateX(180deg);
}

.show-box {
    padding-top: 10px;
    margin: auto;
    width: 70%;
    height: 50%;
    box-shadow:
        4px 4px 5px #5A5C5E,
        -4px -4px 5px white;
}

