body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  background: #E0E5EC;
  font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
}

.navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  font-size: larger;
  text-align: center;
  font-weight: inherit;
  background: transparent;
  border-radius: 5px;
  box-shadow:
    0px 2px 0px #5A5C5E,
    0px 2px 0px #ffffff;
}

.element {
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background: transparent;
  align-items: center;
  border-radius: 5px;
  box-shadow:
    3px 3px 5px #5A5C5E,
    -3px -3px 5px #ffffff;
  display: flex;
  justify-content: center;

}

.element:hover {
  box-shadow:
    5px 5px 11px #5A5C5E,
    -5px -5px 11px #ffffff;
}

button {
  width: auto;
  height: auto;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  border-radius: 5px;
  box-shadow:
    3px 3px 5px #5A5C5E,
    -3px -3px 5px #ffffff;
  font-size: 20px;
  background: transparent;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

button:hover {
  border-radius: 5px;
  box-shadow:
    5px 5px 11px #5A5C5E,
    -5px -5px 11px #ffffff;
  background-color: transparent;
}

select {
  background: transparent;
  border: 0px solid black;
  padding: 5px;
  width: 150px;
  box-shadow:
    3px 3px 5px #5A5C5E,
    -3px -3px 5px #ffffff;
  cursor: pointer;
}


.fas,
.fab {
  padding-left: 1px;
  padding-right: 5px;

}

a:link,
a:visited {
  background: transparent;
  padding: 5px;
  color: black;
  text-decoration: none;
  display: inline-flexbox;
}


.flex-container {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 10px;
}

.flex-container2 {
  margin-left: auto;
  margin-right: auto;
  /* width: 4%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}

.flex-item1 {
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin: 5px;
}

.flex-item2 {
  flex: 1 1 0;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  margin: 10px;
  /* box-shadow:
    3px 3px 5px #5A5C5E,
    -3px -3px 5px #ffffff; */
}

.container {
  display: grid;
  box-shadow:
    3px 3px 4px #5A5C5E,
    -3px -3px 4px #ffffff;
  border-radius: 5px;
  padding: 12px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  grid-template-rows: repeat(20, 29px);
  grid-template-columns: repeat(40, 29px);
  grid-row-gap: 5px;
  grid-column-gap: 5px;
}

.node {
  background: transparent;
  text-align: center;
  font-size: small;
  box-shadow:
    3px 3px 4px #5A5C5E,
    -3px -3px 4px #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: cell;
}

/* Wall */
.wall {
  background-color: #5A5C5E;
  box-shadow:
    inset 5px 5px 7px #464849,
    inset -1px -1px 2px #cccaca;
  color: #5A5C5E;
}

.pathcell {
  background-color: #00FF00;
  color: #000000;
}


@media only screen and (max-width: 600px) {
  /* body {
    margin-top: 1em;
    font-size: small;
  } */


  .container {
    display: grid;
    padding: 5px;
    grid-template-rows: repeat(20, minmax(10px, 1px));
    grid-template-columns: repeat(40, minmax(10px, 1px));
    grid-row-gap: 1px;
    grid-column-gap: 1px;
  }

  .node {
    font-size: 0.75ch;
  }
}